.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("header-image.jpg");
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 8% 0;
}

.header-title {
  margin-bottom: 4%;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.highlighted-text {
  color: #F1AD1D;
}

.line {
  border-bottom: solid 3.5px #F1AD1D;
  width: 62px;
  display: inline-block;
}

.main {
  text-align: center;
  padding: 7.25% 13.44% ;
}

.team-container {
  margin-bottom: 210px;
}

.main-title {
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.title {
  font-family: 'Lato', sans-serif;
  margin: 28px 0 47px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}

.team-member {
  position: relative;
  font-size: 0;
  flex: 0 1 16%;
  padding: 1px;
}

.team-photo {
  width: 100%;
}

.member-name {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 15px 15px 15px 17px;
  width: 165px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #333333;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
}

.member-name::-webkit-scrollbar {
  display: none;
}

.function-descr {
  margin-top: 43px;
}

.service {
  float: left;
  margin-right: 34px;
  width: calc(25% - 34px);
}

.service-name {
  padding: 22px 0 16px;
  text-align: center;
  color: #ffffff;
  background: #333333;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 18px;
}

.service-icon {
  font-size: 50px;
}

.service-descr {
  margin-top: 30px;
  font-weight: 300;
  font-size: 14px;
  max-height: 65px;
  overflow: auto;
}