body {
  font-family: "Montserrat", sans-serif;
}
.first-block {
  background-color: #F9FAFC;
  padding: 200px 200px 250px 200px;
}
.first-block__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 26px;
}
.first-block__title span {
  color: #50C9F5;
}
.first-block__timer {
  display: block;
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;
  color: #50C9F5;
}
.second-block {
  padding: 200px 200px 250px 200px;
}
.second-block__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 26px;
  width: 375px;
}
.second-block__title span {
  color: red;
}